
.character-container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.character-item{
 padding: 10px;
}

.character-card{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  padding: 10px;
  height: 100%;
}

.character-card img{
  width: 100%;
}


@media (min-width: 558px) {
  .character-item{
    width: 50%;
  }
}

@media (min-width: 768px) {
  .character-item{
    width: 33.3%;
  }
}

@media (min-width: 992px) {
  .character-item{
    width: 25%;
  }
}